/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
/*@media (prefers-color-scheme: dark) {}*/
/*.theme-dark .page {}*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image-theme-dark: url("../images/cover-image-dark.png"); 
  --dark-color: #000028; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --dark-theme-color: #F1B2CE;
  --dark-theme-title-color: #DB00FF;
  --dark-theme-accent-color: #FF0070;
  }


