/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
   :root {
  --background-image: url("../images/cover-image-dark.png"); 
  --background-color: #000028; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --main-font-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --decorated-zone-color: #FF0070;

  --shadow-effect-color: #FF0070;
  --hover-button-effect-color: #FF007066;
  --section-font-color: #FF0070;
  --border-color: #F1B2CE;
  --shadow-link-color: #FF0070;
  }
}
/*.theme-dark .page {}*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url("../images/cover-image-dark.png"); 
  --background-color: #000028; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --main-font-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --accent-color: #FF0070;
  --decorated-zone-color: #FF0070;
  
  --shadow-effect-color: #FF0070;
  --hover-button-effect-color: #FF007066;
  --section-font-color: #FF0070;
  --border-color: #F1B2CE;
  --shadow-link-color: #FF0070
  }


  /*@media (prefers-color-scheme: dark) {
   :root {
  --background-image-theme-dark: url("../images/cover-image-dark.png"); 
  --dark-color: #000028; 
  --dark-theme-color: #F1B2CE;
  --dark-theme-title-color: #DB00FF;
  --dark-theme-accent-color: #FF0070;
  }
}
/*.theme-dark .page {}*/

/*:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /*--background-image-theme-dark: url("../images/cover-image-dark.png"); 
  --dark-color: #000028; 
  --dark-theme-color: #F1B2CE;
  --dark-theme-title-color: #DB00FF;
  --dark-theme-accent-color: #FF0070;
  }*/
