/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png"); 
  --background-color: #FFF1F7; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --main-font-color: #353430;
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;

  --hover-button-effect-color: #32312D66;
  
}


@media (prefers-color-scheme: light) {
  :root {
  color-scheme: light;

  --background-image: url("../images/cover-image-light.png"); 
  --background-color: #FFF1F7; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --main-font-color: #353430;
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;

  --shadow-effect-color: #FF8DCB;
  --hover-button-effect-color: #32312D66;
  --section-font-color: #353430;
  --border-color: #353430;
  --shadow-link-color: #FF8DCB;
  }

  .decor-elements__REC {
  display: none;
  }

  .theme-dark .decor-elements__REC{
  display: flex;
  }
  }

.theme-light .page {
  --background-image: url("../images/cover-image-light.png"); 
  --background-color: #FFF1F7; /*фоновый цвет, который совпадает с основным тоном фонового изображения страницы*/
  --main-font-color: #353430;
  --main-title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --decorated-zone-color: #353430;

  --shadow-effect-color: #FF8DCB;
  --hover-button-effect-color: #32312D66;
  --section-font-color: #353430;
  --border-color: #353430;
  --shadow-link-color: #FF8DCB;

  }
  


/*.theme-light .page {}*/ 
/*:root.theme-light {
  --background-image-theme-light: url("./images/cover-image-light"); 
  --light-color: #FFF1F7; 
  --light-theme-color: #353430;
  --light-theme-title-color: #FFC2E6;
  --light-theme-accent-color: #FF8DCB;
  --light-theme-hover-effect-color: #32312D66;
  }*/


/*@media (prefers-color-scheme: light) {
  :root {
  color-scheme: light;

  --background-image-theme-light: url("./images/cover-image-light"); 
  --light-color: #FFF1F7; 
  --light-theme-color: #353430;
  --light-theme-title-color: #FFC2E6;
  --light-theme-accent-color: #FF8DCB;
  --light-theme-hover-effect-color: #32312D66;
}*/


/*.page {
  background-image: var(--background-image-theme-light, url("./images/cover-image-light"));
  background-color: var(--light-color, #FFF1F7);
  color: var(--light-theme-color, #353430);
  }

.header {
  background-image: none;
  }
.decor-elements__REC {
  display: none;
  }

.decorated-zone::before {

border-block-start: 1px solid var(--light-theme-color, #353430);
border-inline-end: 1px solid var(--light-theme-color, #353430);
}
.decorated-zone::after {

border-block-end: 1px solid var(--light-theme-color, #353430);
border-inline-start: 1px solid var(--light-theme-color, #353430);
}

.header__theme-menu-button {
color: var(--light-theme-color, #353430);
}
.header__theme-menu-button_active {
border: 1px solid var(--light-theme-color, #353430);
}
.header__theme-menu-button:hover {
border: solid 1px var(--light-theme-hover-effect-color, #32312D66);
}
.header__theme-menu-button:focus { 
text-decoration: underline 1px solid var(--light-theme-color, #353430);
}

.header__title {
color: var(--light-theme-title-color,  #FFC2E6);
text-shadow: 4px 4px 0px var(--light-theme-accent-color, #FF8DCB);
}

.accent-marker-text { 
color: var(--light-theme-color, #353430);
background-color: var(--light-theme-accent-color, #FF8DCB);
}

.section__title {
color: var(--light-theme-color, #353430);
}

.main-text {
color: var(--light-theme-color, #353430);
}

.section__article-text-link {
text-decoration: none; 
}
.text-link-decor {
text-shadow: 2px 1px 0px var(--light-theme-accent-color, #FF8DCB);
border-bottom: none;
}
.section__article-text-link:hover {
border-bottom: 1px solid var(--light-theme-color, #353430);
box-shadow: none;
}
.section__article-text-link:focus {
outline: 1px solid var(--light-theme-color, #353430);
border-bottom: none;
}

.footer-title {
color: var(--light-theme-title-color, #FFC2E6);
text-shadow: 2px 2px 0px var(--light-theme-accent-color, #FF8DCB);
}
}*/