/* Основные стили проекта. Это стили для темы, которую верстаем первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. 
  Он удобен, чтобы составлять селекторы для разных цветовых тем. */

 writing-mode: horizontal-tb;
 min-inline-size: 375px;
 /*min-block-size: 6770px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
 background-image: var(--background-image, url(../images/cover-image-dark.png));
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center; /*расположение фона по вертикали и горизонтали, в даном случае размещаем по центру*/
 background-attachment: fixed; /*чтобы фон оставался на месте при прокрутке страницы*/

 background-color: var(--background-color, #000028); /*фоновый цвет*/ 
 font-family: var(--font-family, "IBM Plex Mono");
 font-size: var(--font-size, 18px);
 font-weight: var(--font-weight-regular, 400);
 /*letter-spacing: var(--letter-spacing, 0%);*/
 color: var(--main-font-color, #F1B2CE);
 /*overflow-x: hidden;*/
}

.header {
height: 100vh; /* 100% от высоты окна браузера */ 
min-block-size: 668px; /*фиксируем минимальную высоту блока согласно значению из макета*/
/*background-image: url("../images/cover-image.png");*/ 
display: grid;
grid-template-rows: 1fr 1fr 1fr;
position: relative;
padding: 10px;
/*padding-inline: 10px;
padding-inline-start: 10px;
padding-inline-end: 10px;*/
padding-block-end: 66px;
}

/*
В правом верхнем и нижнем левом углах есть декоративные уголки. 
Их лучше реализовать при помощи псевдоэлементов и указания границ для двух сторон. 
Поскольку уголки будут использоваться и в шапке, и в подвале страницы, 
то стили для них следует описать в общем классе. 
Уголки нужно спозиционировать абсолютно относительно родительского блока.
*/
.decorated-zone {
position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
content: "";
position: absolute;
/* z-index: -1; */
display: block;
block-size: 25px;
inline-size: 25px;
}

.decorated-zone::before {
/*justify-self: end; 
align-self: flex-start; */
top: 10px; 
right: 10px;
border-block-start: 1px solid var(--decorated-zone-color, #FF0070);
border-inline-end: 1px solid var(--decorated-zone-color, #FF0070);
}

.decorated-zone::after {
/*justify-self: start;
align-self: flex-end;*/ 
left: 10px;
bottom: 10px;
border-block-end: 1px solid var(--decorated-zone-color, #FF0070);
border-inline-start: 1px solid var(--decorated-zone-color, #FF0070);
}

.decor-elements__REC {
/* прописать позиционирование */
/*указываем координаты для абсолютного позиционирования*/
display: flex; /*для корректного позиционирования псевдоэлемента*/
flex-direction: row;
position: absolute;
top: 10px;
/*left: 304px;*/ right: 28px;
justify-self: end;
text-transform: uppercase;
line-height: 25px;
color: var(--decorated-zone-color, #FF0070);
}

/*Точку справа от надписи реализуйте через псевдоэлемент, 
чтобы не создавать лишние пустые элементы в HTML-разметке.*/
.decor-elements__REC::after {
content: "";
position: relative;
top: 8px;
right: -8px;
background-color: var(--decorated-zone-color, #FF0070); /*вместо color, кот. для текста*/
display: block; /*т.к. точка не текст*/
inline-size: 9px;
block-size: 9px;
border-radius: 50%;
box-shadow: 0px 0px 4px 2px var(--decorated-zone-color, #FF0070);
}

/* прописать позиционирование, а также состояния hover focus */
.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  padding-block-start: 65px; 
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
line-height: 18px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-color: transparent;
  text-transform: lowercase;
  text-align: center;
  padding-block: 1.5px;
  padding-inline: 13px;
  color: var(--decorated-zone-color, #FF0070);
}

.header__theme-menu-button_active {
pointer-events: none;
border: 1px solid var(--decorated-zone-color, #FF0070)
}
/*
.header__theme-menu-button_type_dark:active {
  border: 1px solid var(--dark-theme-accent-color, #FF0070);
}*/
/*
.header__theme-menu-button_type_dark {
  border: 1px solid var(--dark-theme-accent-color, #FF0070);
  }
*/
/*при наведении курсора на кнопку*/
.header__theme-menu-button:hover {
border: solid 1px var(--hover-button-effect-color, #FF007066);
/*border-color: var(--dark-theme-accent-color, #FF0070, 0.6)*/
/*outline: 1px solid var(--dark-theme-accent-color, #FF0070), 60%; */
}


/*когда нажимаем или зажимаем кнопку - для стилизации элемента, получившего фокус 
(при переходе по элементам с помощью клавиатуры(табуляции) или нажатием мышки) */
.header__theme-menu-button:focus { 
text-decoration: underline 1px solid var(--decorated-zone-color, #FF0070);
/*outline-style: none;*/
 outline: none;
}

.header__title {
grid-row: 2;
justify-self: start;
/*font-size: 116px;*/
font-size: var(--title-clamp-small);
font-weight: var(--font-weight-bold);
line-height: 83%;
color: var(--main-title-color, #DB00FF);
text-shadow: 4px 4px 0px var(--shadow-effect-color, #FF0070);
margin-block-start: 65px;
}

.header__subtitle {
grid-row: 3;
/*align-self: center; /*Выравнивает элемент внутри ячейки по вертикали*/
/*float: right;*/
max-inline-size: 355px;
margin-block-start: 55px;
margin-block-end: 36px; /*56*/
}

/*.header__article-about {} /*subtitle*/

.accent-marker-text { /*title-decor*/
line-height: 23.4px;
font-weight: var(--font-weight-bold, 700);
color: var(--dark-color, #000028);
background-color: var(--accent-color, #FF0070);
}



.main {
min-inline-size: 375px;
/*min-block-size: 5355px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
display: flex;
flex-direction: column;
padding-inline-start: 10px;
padding-inline-end: 10px;
padding-block-end: 40px;
}

.main__section__why-it-is-so-hard-to-concentrate {
padding-block-start: 40px;
padding-block-end: 30px; /*50*/
}

/*.section__title {
font-size: var(--font-size, 18px); 
font-weight: var(--font-weight-bold, 700);
line-height: 23.4px;
color: var(--accent-color, #FF0070);
padding-block-end: 20px;
}*/

/*.section__title:not(:last-child) { padding-block-end: 10px; }
/*.section__title:last-child { padding-block-end: 10px; }*/

/*
.multitasking-why-it-is-so-hard-to-concentrate,
.dofamin,
.multitasking-two,
.food,
.gadgets {}*/

/*.article-title {
font-size: var(--font-size, 18px); 
font-weight: var(--font-weight-bold, 700);
line-height: 23.4px;
}*/

/*.section-article__title-main-style {
font-size: var(--font-size, 18px); 
font-weight: var(--font-weight-bold, 700);
line-height: 23.4px;
} */

.section__article-features {
font-size: var(--font-size, 18px); 
line-height: 23.4px;
font-weight: var(--font-weight-bold, 700);
}

.section__more-features {
color: var(--section-font-color, #FF0070);
padding-block-end: 20px;
}

.main-text {
font-weight: var(--font-weight-regular, 400);
line-height: 23.4px;
color: var(--main-font-color, #F1B2CE);
padding-block-start: 10px;
padding-block-end: 20px;
}

/*стилизуем ССЫЛКУ - при наведении на ссылку подчеркивание НЕ двоится!!!*/
.section__article-text-link {
text-decoration: none;
}

.text-link-decor {
/*box-shadow: [horizontal offset] [vertical offset] [blur radius] [color];*/
text-shadow: 2px 1px 0px var(--shadow-link-color);
border-bottom: none;
}

/*при наведении курсора на элемент - появляется одно нижнее подчеркивание в цвет текста*/
.section__article-text-link:hover {
border-bottom:  1px solid var(--border-color, #F1B2CE);
/*padding-bottom: 1px;*/
box-shadow: none;
}

/*при клике на элемент или переходе на него с клавиатуры при помощи клавиши tab - появляется рамка в цвет текста*/
.section__article-text-link:focus {
outline: 1px solid var(--main-font-color, #F1B2CE);
border-bottom: none;
}

/*:focus-visible возникает исключительно при фокусе с клавиатуры*/
/*:active при удержании кнопки мыши на элементе; чЧасто используется для создания эффекта «нажатия» на кнопку или ссылку*/
/*:link — :visited — :focus — :hover — :active*/

.main__section__what-reduces-concentration-of-attention {
padding-block-end: 30px;
}

/*
.section-what-reduces-concentration-of-attention__multitasking {}
.section-two__food {}
.section-two__gadgets {}
*/

.main__section-how-to-concentrate-better-than-a-goldfish {
padding-block-end: 30px;
}




.article-title__simple-tips {
/*min-block-size: 47px;*/
/*min-inline-size: 355px;*/
font-size: var(--font-size, 18px); 
/*font-weight: var(--font-weight-bold);
line-height: 23.4px;*/
margin-block-end: 20px;
}

.article-title-special {
/*min-block-size: 23px; В случае, если элемент, содержащий текстовый контент 
ограничить по высоте - теряется масштабируемость.*/
min-inline-size: 355px;

font-size: var(--font-size, 18px);
font-weight: var(--font-weight-regular, 400);
line-height: 23.4px;
}

/*
.sky-and-clouds {}
.turn-on-the-music {}
.go-for-a-walk {}
.eat-well {}
.go-read {}
*/

/*.main__section-gallery {
    display: grid;
  gap: 10px;
}*/

.article-title__possible-in-pictures { /*gallery-title*/ 
margin-block-end: 10px;
}

.gallery {
display: flex; 
flex-direction: column;
gap: 10px;
}

.gallery-images {
inline-size: 100%;
block-size: 100%;
object-fit: cover;
object-position: center;
/*background-size: cover;*/
}

.footer {
height: 100vh; /* 100% от высоты окна браузера */ 
min-block-size: 668px; /*фиксируем минимальную высоту блока согласно значению из макета*/
display: grid;
grid-template-rows: 1fr auto 1fr; 
position: relative;
padding: 10px;
align-items: center;
justify-content: center;
}

.footer-title {
grid-row: 2;
justify-self: start; 
/*font-size: 116px;*/
font-size: var(--title-clamp-small);
font-weight: var(--font-weight-bold, 700);
line-height: 83%;
color: var(--main-title-color, #DB00FF);
text-shadow: 2px 2px 0px var(--shadow-effect-color, #FF0070);
}



/* Стили для экранов шире 768 пикселей */
@media (width >= 768px) {

.page {
 min-inline-size: 768px;
 /*min-block-size: 5850px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
}
.header {
min-block-size: 1024px; /*фиксируем минимальную высоту блока согласно значению из макета*/
/* display: grid;
grid-template-rows: 1fr 1fr 1fr; */
grid-template-columns: 1fr 1fr;
padding: 20px;
padding-block-end: 183px;
}

.decorated-zone::before {
top: 20px; 
right: 20px;
}
.decorated-zone::after {
left: 20px;
bottom: 20px;
}
.decor-elements__REC {
top: 20px;
/*left: 687px;*/
right: 38px;
}

.header__theme-menu {
  grid-row: 1 / -3;
  grid-column: 2 / 3;
  /* justify-self: end; */
  padding-block-start: 172px; 
  padding-block-end: 173px;
}

.header__title {
/*font-size: 120px;*/
/* justify-self: flex-start; /*Выравнивает элемент внутри ячейки по горизонтали*/
align-self: flex-start; /*Выравнивает элемент внутри ячейки по вертикали*/
grid-row: 2 / -2;
grid-column: 1 / 3;
margin-block-start: 0px;
margin-inline-start: -20px;
}

.header__subtitle {
grid-row: 3 / -1;
grid-column: 2 / -2;
align-self: flex-end;
min-inline-size: 364px;
margin-block-start: 162px;
/*margin-block-end: 163px; /*183*/
}

/*.header__article-about {} /*subtitle*/



.main {
min-inline-size: 768px;
/*min-block-size: 3682px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
padding-inline-start: 20px;
padding-inline-end: 20px;
padding-block-end: 60px; /*!!!*/
}

.main__section__why-it-is-so-hard-to-concentrate {
padding-block-start: 60px;
padding-block-end: 60px; /*80*/
display: grid;
grid-template-rows: 1fr 1fr;
/*grid-template-columns: 35,16% 64,84%;*/
/*grid-template-columns: min-content 1fr;*/
grid-template-columns: 35% 65%;
/*column-gap: 20px;*/
grid-template-areas: "title__why-it-is-so-hard-to-concentrate section-why-it-is-so-hard-to-concentrate__multitasking"
"title__why-it-is-so-hard-to-concentrate section-why-it-is-so-hard-to-concentrate__dofamin";
/*row-gap: 20px;*/
}

.title__why-it-is-so-hard-to-concentrate {
grid-area: title__why-it-is-so-hard-to-concentrate;
padding-inline-end: 20px;
}

.section-why-it-is-so-hard-to-concentrate__multitasking {
grid-area: section-why-it-is-so-hard-to-concentrate__multitasking;
/*padding-block-end: 20px;*/
}

/*.multitasking-why-it-is-so-hard-to-concentrate, .dofamin {}*/

.section-why-it-is-so-hard-to-concentrate__dofamin {
grid-area: section-why-it-is-so-hard-to-concentrate__dofamin;
/*padding-block-end: 50px;*/
}

.main__section__what-reduces-concentration-of-attention {
/*min-block-size: 675px; высоту лучше не фиксировать*/
display: flex;
flex-direction: column;
padding-block-end: 60px; /*80*/
}

.title__what-reduces-concentration-of-attention {
inline-size: 236px;
}

/*
.section-what-reduces-concentration-of-attention__multitasking {}
.section-what-reduces-concentration-of-attention__food {}
.section-what-reduces-concentration-of-attention__gadgets {}
*/

/*.multitasking-what-reduces-concentration-of-attention-text,
.food-what-reduces-concentration-of-attention-text,
.gadgets-what-reduces-concentration-of-attention-text {
padding-block-end: 0px;*/
/*margin: 0px;*/


.main__section-how-to-concentrate-better-than-a-goldfish {
padding-block-end: 60px; /*80*/
display: grid;
/*grid-template-columns: min-content 1fr;*/
grid-template-columns: 35% 65%;
grid-template-rows: 1fr;
/*column-gap: 20px;*/
/*row-gap: 20px;*/

grid-template-areas: "title__better-than-goldfish article-title__simple-tips"
"title__better-than-goldfish section-how-to-concentrate-better-than-a-goldfish-item__sky-and-clouds"
"title__better-than-goldfish section-how-to-concentrate-better-than-a-goldfish-item__turn-on-the-music"
"title__better-than-goldfish section-three-item__go-for-a-walk"
"title__better-than-goldfish section-how-to-concentrate-better-than-a-goldfish-item__eat-well"
"title__better-than-goldfish section-how-to-concentrate-better-than-a-goldfish-item__go-read";
}

.title__better-than-goldfish {
grid-area: title__better-than-goldfish;
}
.article-title__simple-tips {
grid-area: article-title__simple-tips;
}
.section-how-to-concentrate-better-than-a-goldfish-item__sky-and-clouds {
grid-area: section-how-to-concentrate-better-than-a-goldfish-item__sky-and-clouds;
}
.section-how-to-concentrate-better-than-a-goldfish-item__turn-on-the-music {
grid-area: section-how-to-concentrate-better-than-a-goldfish-item__turn-on-the-music;
}
.section-how-to-concentrate-better-than-a-goldfish-item__go-for-a-walk {
grid-area: section-how-to-concentrate-better-than-a-goldfish-item__go-for-a-walk;
}
.section-how-to-concentrate-better-than-a-goldfish-item__eat-well {
grid-area: section-how-to-concentrate-better-than-a-goldfish-item__eat-well;
}
.section-how-to-concentrate-better-than-a-goldfish-item__go-read {
grid-area: section-how-to-concentrate-better-than-a-goldfish-item__go-read;
}

.main__section-gallery {
min-inline-size: 728px;
/*min-block-size: 823px;*/
display: grid;
grid-template-columns: 1fr;
/*display: flex;
flex-direction: column;*/
gap: 20px;
/*display: block;*/
/*padding-inline-end: 60px;*/
}

.article-title__possible-in-pictures {
/*align-items: center;*/
/*justify-content:space-around;*/
min-inline-size: 728px;
/*margin-block-end: 20px;*/
margin-block-end: 0;
}

.accent-marker-text {
width: 100%;
}

.gallery {
min-inline-size: 728px;
/*min-block-size: 780px;*/
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto auto;
/*grid-template-columns: 31% 32% 31%;
grid-template-rows: 25% 30% 41%;*/
gap: 20px;
place-content: center;
/*width: 100%;*/
/*grid-template-areas: "gallery-item__sunset gallery-item__sunset gallery-item__ice-cream"
"gallery-item__tape gallery-item__books gallery-item__ice-cream"
"gallery-item__tape gallery-item__street gallery-item__street";
}*/
}

.gallery-item__sunset {
grid-column: 1 / 3;
grid-row: 1 / 2;
}

.gallery-item__ice-cream {
grid-column: 3 / 4;
grid-row: 1 / 3;
}

.gallery-item__tape {
grid-column: 1 / 2;
grid-row: 2 / 4;
}

.gallery-item__books {
grid-column: 2 / 3;
grid-row: 2 / 3;
}

.gallery-item__street {
grid-column: 2 / 4;
/*grid-row: -2 / -1;*/
grid-row: 3 / 4;
}

/*.gallery-item__sunset,
.gallery-item__ice-cream,
.gallery-item__tape,
.gallery-item__books,
.gallery-item__street {}*/

/*.image-sunset,
.image-ice-cream,
.image-tape,
.image-books,
.image-street {
inline-size: 100%;
block-size: 100%;
}*/



.footer {
height: 100vh; /* 100% от высоты окна браузера */ 
min-block-size: 1024px; 
/*margin-top: 60px;*/
/*min-block-size: 1024px; /*фиксируем минимальную высоту блока согласно значению из макета*/
grid-template-rows: 1fr 1fr 1fr;
align-items: center;
justify-content: center;
padding: 20px;
}

.footer-title {
/*font-size: 120px;*/ 
font-size: var(--title-clamp-large);
}

/*.decorated-zone::before {
top: 20px; 
right: 20px;
}*/

.decorated-zone::after {
bottom: 22px;
}
}



/* Стили для экранов шире 1024 пикселей */
 @media (width >= 1024px) {
.page {
 min-inline-size: 1024px;
 /*min-block-size: 5008px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
}

.header {
min-block-size: 768px; /*фиксируем минимальную высоту блока согласно значению из макета*/
grid-template-rows: 41% 18% 41%;
grid-template-columns: 33% 17% 17% 33%;
/*padding: 20px;*/
padding-block-end: 134px;
}

.decor-elements__REC {
/* top: 20px; */
left: 943px;
}

.header__theme-menu {
grid-row: 1 / 2;
grid-column: 2 / 4;
/*grid-row: 1;*/
justify-self: center;
align-self: start;
/*place-content: center;*/
padding-block-start: 0px; 
padding-block-end: 702px;
}

.header__theme-menu-list {
/*margin-block-end: 273px;*/
flex-direction: row;
}

.header__title {
/*font-size: 157px;*/
font-size: var(--title-clamp-large);
grid-row: 2 / 4;
grid-column: 1 / -1;
/*justify-self: start;*/
/*align-self: center;*/
/*margin-block-start: 0px;*/
margin-block-start: 45px;
/* margin-inline-start: -20px; */
}

.header__subtitle {
grid-row: 3 / 4;
grid-column: -3 / -1;
max-inline-size: 491px;
/*align-self: flex-end;*/
justify-self: flex-end;
margin-block-start: 114px;
margin-block-end: 0;
/*margin-block-end: 114px;*/
/*position: absolute;
top: 50%;
transform: translateY(-50%); /* Центровка элемента по вертикали */
}

/*.header__article-about {} /*subtitle*/



.main {
min-inline-size: 1024px;
/*min-block-size: 3352px; не задаем фиксированную высоту блокам, 
 т.к. это может привести к проблемам с отображением при изменении количества контента.*/
}

.main__section__why-it-is-so-hard-to-concentrate {
grid-template-columns: 34% 66%;
}

.main__section__what-reduces-concentration-of-attention {
/*min-block-size: 498px;*/
min-inline-size: 984px;
/*display: grid;
grid-template-columns: 32% 32% 32%;
/*grid-template-columns: repeat(3, 32%);*/
/*grid-template-columns: repeat(3, 33%);*/
/*grid-template-rows: 13% 87%;*/
/*grid-template-rows: min-content 1fr;*/
/*grid-auto-flow: row;*/
column-gap: 20px;

/*grid-template-areas: "title__what-reduces-concentration-of-attention title__what-reduces-concentration-of-attention title__what-reduces-concentration-of-attention"
"section-what-reduces-concentration-of-attention__multitasking section-what-reduces-concentration-of-attention__food section-what-reduces-concentration-of-attention__gadgets"
"section-what-reduces-concentration-of-attention__food";*/
}

.title__what-reduces-concentration-of-attention {
inline-size: 315px;
}
/*.section-what-reduces-concentration-of-attention__multitasking {
grid-area: section-what-reduces-concentration-of-attention__multitasking;
}
.section-what-reduces-concentration-of-attention__food {
grid-area: section-what-reduces-concentration-of-attention__food;
}
.section-what-reduces-concentration-of-attention__gadgets {
grid-area: section-what-reduces-concentration-of-attention__gadgets;
}*/

.section-what-reduces-concentration-of-attention {
 min-inline-size: 984px;
  display: grid;
 grid-template-columns: repeat(3, 32%);
  gap: 20px;
 /*flex-flow: wrap;*/
  /*flex-wrap: wrap;*/
}

.section-what-reduces-concentration-of-attention-item {
display: block;
min-inline-size: 315px;
}

.section-what-reduces-concentration-of-attention-item:last-of-type {
 gap: 0px;
}
/*.section-what-reduces-concentration-of-attention__multitasking,
.section-what-reduces-concentration-of-attention__food,
.section-what-reduces-concentration-of-attention__gadgets {}*/

.article-title__section-what-reduces-concentration-of-attention__multitasking,
.article-title__section-what-reduces-concentration-of-attention__food,
.article-title__section-what-reduces-concentration-of-attention__gadgets {
/*margin-inline-end: 20px;*/
min-inline-size: 315px;
/*min-block-size: 23px;*/
}

.main__section-how-to-concentrate-better-than-a-goldfish {
min-inline-size: 984px;
/*padding-block-end: 60px; /*80*/
grid-template-columns: 32% 66%;
column-gap: 20px;
}

/*.section-how-to-concentrate-better-than-a-goldfish__simple-tips {
min-inline-size: 649px; }*/

/*.title__better-than-goldfish {
max-inline-size: 315px;
}*/

.main__section-gallery {
min-inline-size: 984px;
/* display: flex;
flex-direction: column;
gap: 20px; */
}

/*.article-title__possible-in-pictures {
/* margin-block-end: 0px; } */

.gallery {
min-inline-size: 984px;
grid-template-columns:  repeat(3, 32%);
/*grid-template-rows: 25% 30% 41%;*/
}

.footer {
/*height: max(100vh, 768px);*/
/*height: 100vh; /* 100% от высоты окна браузера */
min-block-size: 768px;
min-inline-size: 1024px; 
}

.footer-title {
/*align-items: center;
justify-content: center;*/
}
}
 